<!DOCTYPE html>
<html>
<% if (!user) { %>
    <%- include head/head-basic.ejs %>

<% } else { %>
    <%- include head/head-authenticated.ejs %>
<% } %>
<body class="cosmo">
    
    <% if (!user) { %>
        <%- include public/public.ejs %>
    <% } else { %>
        <%- include toolbar.ejs %>
        <br/>
        <%- include sidebar.ejs %>

        <div class="container-fluid">
            <div class="row">
                <%- body %>
            </div>
        </div>

        <%- include footbar.ejs %>
    <% } %>


</body>
</html>
